<link href="/css/slider.css" rel="stylesheet" />

<div class="mt-4">
    <input type="hidden" name="id" value="<%= userEdit.id %>">
    <label class="block text-sm">
      <span class="text-gray-700 dark:text-gray-400">First Name</span>
      <input name="first_name"
        class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
        placeholder="Event Name" value="<%= userEdit.first_name %>"/>
    </label>
    
  </div>
  <div class="mt-2">
    <label class="block text-sm">
      <span class="text-gray-700 dark:text-gray-400">Last Name</span>
      <input name="last_name"
        class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
        placeholder="Event Name" value="<%= userEdit.last_name %>"/>
    </label>
    </div>

    <div class="mt-2">
      <label class="block mt-4 text-sm">
        <span class="text-gray-700 dark:text-gray-400">Date of birth</span>
        <!-- focus-within sets the color for the icon when input is focused -->
        <div class="relative text-gray-500 focus-within:text-purple-600 dark:focus-within:text-purple-400">
          <input name="dob" type="date" value="<%= userEdit.dob ?  moments(userEdit.dob).format('YYYY-MM-DD') : '' %>"
          class="block w-full pr-10 mt-1 text-sm text-black dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray form-input"
            placeholder="Date of birth" />
          
        </div>
      </label>
    </div>
    <% if(userEdit.hometown != '' && userEdit.hometown != null){ %>
      <div class="mt-2">
        <label class="block text-sm">
          <span class="text-gray-700 dark:text-gray-400">Hometown</span>
          <input name="hometown"
            class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
            placeholder="Event Hometown" value="<%= userEdit.hometown %>"/>
        </label>
        </div>
      <%   } %>
  <div class="mt-2">
    <label class="block text-sm">
      <span class="text-gray-700 dark:text-gray-400">Email</span>
      <input name="email"
        class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
        placeholder="Email" value="<%= userEdit.email %>"/>
    </label>
    </div>
  <div class="mt-2">
    <label class="block text-sm">
      <span class="text-gray-700 dark:text-gray-400">Telephone number</span>
      <input name="telephone_number"
        class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
        placeholder="Telephone number" value="<%= userEdit.phone_number %>"/>
    </label>
    </div>
    <div class="mt-2">
      <label class="block text-sm">
        <span class="text-gray-700 dark:text-gray-400">Password</span>
        <input name="password" type="password"
          class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
          placeholder="Password" value="<%= userEdit.password %>"/>
      </label>
      </div>

    <div class="mt-2">
      <label class="block text-sm">
        <span class="text-gray-700 dark:text-gray-400">Bio</span>
        <input name="bio"
          class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
          placeholder="Event Bio" value="<%= userEdit.bio %>"/>
      </label>
      </div>
      
      <h3 style="margin: 15px 0px;"><b>Photos</b></h3>

      <div class="image-upload-container" id="imageGrid">
        <% 
              let maxImages = 6; // Total slots available
              let uploadedImages = userEditPost.map(post => post.images) || []; // Extract images from userEditPost
              let uploadedCount = uploadedImages.length; 
          %>
  
          <!-- Loop through existing images -->
          <% for (let i = 0; i < uploadedCount; i++) { %>
            <div class="image-box" data-index="<%= i + 1 %>">
                <img src="<%= '/upload/' + uploadedImages[i] %>" alt="Uploaded Image <%= i + 1 %>" class="uploaded-image">
            </div>
          <% } %>
  
          <!-- Add empty slots if there are fewer images than maxImages -->
          <% for (let i = uploadedCount; i < maxImages; i++) { %>
            <div class="image-box" data-index="<%= i + 1 %>">
                <label for="file<%= i + 1 %>" class="add-btn">+</label>
                <input type="file" id="file<%= i + 1 %>" name="images" accept="image/*">
            </div>
          <% } %>
      </div>

      <h3 style="margin: 15px 0px;"><b>About me</b></h3>
      <div class="mt-2">
        <label class="block text-sm">
          <span class="text-gray-700 dark:text-gray-400">Work</span>
          <input name="work"
            class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
            placeholder="Event Work" value="<%= userEdit.work %>"/>
        </label>
        </div>
      <div class="mt-2">
        <label class="block text-sm">
          <span class="text-gray-700 dark:text-gray-400">Education</span>
          <input name="education"
            class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
            placeholder="Event Education" value="<%= userEdit.education %>"/>
        </label>
        </div>
     
        
    <div class="mt-2">
      <label class="block mt-4 text-sm">
        <span class="text-gray-700 dark:text-gray-400">Gender</span>
        <!-- focus-within sets the color for the icon when input is focused -->
        <div class="relative text-gray-500 focus-within:text-purple-600 dark:focus-within:text-purple-400">
          <select name="gender" 
            class="block w-full mt-1 text-sm dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 form-select focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray">
              <option>Select Gender</option>
              <option value="Man" <%=userEdit.gender==='Man' ? 'selected' : '' %>>Man</option>
              <option value="Woman" <%=userEdit.gender==='Woman' ? 'selected' : '' %>>Woman</option>
              <option value="Trans-Man" <%=userEdit.gender==='Trans-Man' ? 'selected' : '' %>>Trans-Man</option>
              <option value="Trans-Woman" <%=userEdit.gender==='Trans-Woman' ? 'selected' : '' %>>Trans-Woman</option>
          </select>
        </div>
      </label>
    </div>
     
    <!-- gender -->
    <h3 style="margin: 15px 0px;"><b>More about me</b></h3>

    <div class="mt-2">
      <label class="block mt-4 text-sm">
        <span class="text-gray-700 dark:text-gray-400">Height</span>
        <!-- focus-within sets the color for the icon when input is focused -->
        <div class="relative text-gray-500 focus-within:text-purple-600 dark:focus-within:text-purple-400">
          <select name="height" 
            class="block w-full mt-1 text-sm dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 form-select focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray">
            <option value="" disabled selected>Select Height</option>
            <% for (let feet = 4; feet <= 8; feet++) { %> <!-- Loop for feet -->
                <% for (let inches = 0; inches <= 11; inches++) { %> <!-- Loop for inches -->
                  <% let heightValue = `${feet}'${inches}`; %>
                    <option value="<%= `${feet}'${inches}` %>" <%= userEdit.height === heightValue ? 'selected' : '' %>>
                        <%= `${feet}'${inches}` %>
                    </option>
                <% } %>
            <% } %>
          </select>
        </div>
      </label>
    </div>

    <div class="mt-2">
      <label class="block mt-4 text-sm">
        <span class="text-gray-700 dark:text-gray-400">Exercise</span>
        <!-- focus-within sets the color for the icon when input is focused -->
        <div class="relative text-gray-500 focus-within:text-purple-600 dark:focus-within:text-purple-400">
          <select name="exercise" 
            class="block w-full mt-1 text-sm dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 form-select focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray">
            <option value="" disabled selected>Select Exercise</option>
            <option value="Never"  <%=userEdit.exercise==='Never' ? 'selected' : '' %>>Never</option>        
            <option value="Rarely"  <%=userEdit.exercise==='Rarely' ? 'selected' : '' %>>Rarely</option>        
            <option value="Sometimes"  <%=userEdit.exercise==='Sometimes' ? 'selected' : '' %>>Sometimes</option>        
            <option value="Regularly"  <%=userEdit.exercise==='Regularly' ? 'selected' : '' %>>Regularly</option>        
            <option value="Daily"  <%=userEdit.exercise==='Daily' ? 'selected' : '' %>>Daily</option>        
            <option value="Multiple times per day"  <%=userEdit.exercise==='Multiple times per day' ? 'selected' : '' %>>Multiple times per day</option>        
            <option value="Professional athlete"  <%=userEdit.exercise==='Professional athlete' ? 'selected' : '' %>>Professional athlete</option>        
          </select>
        </div>
      </label>
    </div>
    
    <div class="mt-2">
      <label class="block mt-4 text-sm">
        <span class="text-gray-700 dark:text-gray-400">Education Level</span>
        <!-- focus-within sets the color for the icon when input is focused -->
        <div class="relative text-gray-500 focus-within:text-purple-600 dark:focus-within:text-purple-400">
          <select name="education_level" 
            class="block w-full mt-1 text-sm dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 form-select focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray">
            <option value="" disabled selected>Select Education Level</option>
            <option value="Some high school"  <%=userEdit.education_level==='Some high school' ? 'selected' : '' %>>Some high school</option>
            <option value="High school diploma"  <%=userEdit.education_level==='High school diploma' ? 'selected' : '' %>>High school diploma</option>
            <option value="Some college"  <%=userEdit.education_level==='Some college' ? 'selected' : '' %>>Some college</option>
            <option value="Associate\'s degree"  <%=userEdit.education_level==='Associate\'s degree' ? 'selected' : '' %>>Associate\'s degree</option>
            <option value="Bachelor\'s degree"  <%=userEdit.education_level==='Bachelor\'s degree' ? 'selected' : '' %>>Bachelor\'s degree</option>
            <option value="Master\'s degree"  <%=userEdit.education_level==='Master\'s degree' ? 'selected' : '' %>>Master\'s degree</option>
            <option value="Doctorate"  <%=userEdit.education_level==='Doctorate' ? 'selected' : '' %>>Doctorate</option>
            <option value="Professional degree (e.g. MD, JD)"  <%=userEdit.education_level==='Professional degree (e.g. MD, JD)' ? 'selected' : '' %>>Professional degree (e.g. MD, JD)</option>
            <option value="Trade school"  <%=userEdit.education_level==='Trade school' ? 'selected' : '' %>>Trade school</option>
            <option value="Prefer not to say"  <%=userEdit.education_level==='Prefer not to say' ? 'selected' : '' %>>Prefer not to say</option>
          </select>
        </div>
      </label>
    </div>
    <div class="mt-2">
      <label class="block mt-4 text-sm">
        <span class="text-gray-700 dark:text-gray-400">Language</span>
        <!-- focus-within sets the color for the icon when input is focused -->
        <div class="relative text-gray-500 focus-within:text-purple-600 dark:focus-within:text-purple-400">
          <select name="language[]" multiple  id="multiLanguageSelect"
            class="w-full mt-1 text-sm">
            <option value=""  hidden>Select Language</option>
            <option value="English" <%= (Array.isArray(userEdit.language) && userEdit.language.includes('English')) ? 'selected' : '' %>>English</option>
            <option value="French" <%= (Array.isArray(userEdit.language) && userEdit.language.includes('French')) ? 'selected' : '' %>>French</option>
            <option value="Spanish" <%= (Array.isArray(userEdit.language) && userEdit.language.includes('Spanish')) ? 'selected' : '' %>>Spanish</option>
            <option value="Arabic" <%= (Array.isArray(userEdit.language) && userEdit.language.includes('Arabic')) ? 'selected' : '' %>>Arabic</option>
            <option value="German" <%= (Array.isArray(userEdit.language) && userEdit.language.includes('German')) ? 'selected' : '' %>>German</option>
            <option value="Greek" <%= (Array.isArray(userEdit.language) && userEdit.language.includes('Greek')) ? 'selected' : '' %>>Greek</option>
            <option value="Italian" <%= (Array.isArray(userEdit.language) && userEdit.language.includes('Italian')) ? 'selected' : '' %>>Italian</option>
            <option value="Dutch" <%= (Array.isArray(userEdit.language) && userEdit.language.includes('Dutch')) ? 'selected' : '' %>>Dutch</option>
            <option value="Portuguese" <%= (Array.isArray(userEdit.language) && userEdit.language.includes('Portuguese')) ? 'selected' : '' %>>Portuguese</option>
            <option value="Mandarin Chinese" <%= (Array.isArray(userEdit.language) && userEdit.language.includes('Mandarin Chinese')) ? 'selected' : '' %>>Mandarin Chinese</option>
            <option value="Hindi" <%= (Array.isArray(userEdit.language) && userEdit.language.includes('Hindi')) ? 'selected' : '' %>>Hindi</option>
            <option value="Russian" <%= (Array.isArray(userEdit.language) && userEdit.language.includes('Russian')) ? 'selected' : '' %>>Russian</option>
            <option value="Japanese" <%= (Array.isArray(userEdit.language) && userEdit.language.includes('Japanese')) ? 'selected' : '' %>>Japanese</option>
            <option value="Korean" <%= (Array.isArray(userEdit.language) && userEdit.language.includes('Korean')) ? 'selected' : '' %>>Korean</option>
            <option value="Vietnamese" <%= (Array.isArray(userEdit.language) && userEdit.language.includes('Vietnamese')) ? 'selected' : '' %>>Vietnamese</option>
            <option value="Turkish" <%= (Array.isArray(userEdit.language) && userEdit.language.includes('Turkish')) ? 'selected' : '' %>>Turkish</option>
          </select>
        </div>
      </label>
    </div>
    <div class="mt-2">
      <label class="block mt-4 text-sm">
        <span class="text-gray-700 dark:text-gray-400">Smoking</span>
        <!-- focus-within sets the color for the icon when input is focused -->
        <div class="relative text-gray-500 focus-within:text-purple-600 dark:focus-within:text-purple-400">
          <select name="smoking" 
            class="block w-full mt-1 text-sm dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 form-select focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray">
            <option value="" disabled selected>Select Smoking</option>
            <option value="Never smoker"  <%=userEdit.smoking==='Never smoker' ? 'selected' : '' %>>Never smoker</option>
            <option value="Non-smoker"  <%=userEdit.smoking==='Non-smoker' ? 'selected' : '' %>>Non-smoker</option>
            <option value="Social smoker"  <%=userEdit.smoking==='Social smoker' ? 'selected' : '' %>>Social smoker</option>
            <option value="Regular smoker"  <%=userEdit.smoking==='Regular smoker' ? 'selected' : '' %>>Regular smoker</option>
            <option value="Former smoker"  <%=userEdit.smoking==='Former smoker' ? 'selected' : '' %>>Former smoker</option>
            <option value="Vaper"  <%=userEdit.smoking==='Vaper' ? 'selected' : '' %>>Vaper</option>
            <option value="Prefer not to say"  <%=userEdit.smoking==='Prefer not to say' ? 'selected' : '' %>>Prefer not to say</option>
          </select>
        </div>
      </label>
    </div>
    <div class="mt-2">
      <label class="block mt-4 text-sm">
        <span class="text-gray-700 dark:text-gray-400">Drinking</span>
        <!-- focus-within sets the color for the icon when input is focused -->
        <div class="relative text-gray-500 focus-within:text-purple-600 dark:focus-within:text-purple-400">
          <select name="drinking" 
            class="block w-full mt-1 text-sm dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 form-select focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray">
            <option value="" disabled selected>Select Drinking</option>
            <option value="Non-drinker" <%=userEdit.drinking==='Non-drinker' ? 'selected' : '' %>>Non-drinker</option>
            <option value="Rarely drink" <%=userEdit.drinking==='Rarely drink' ? 'selected' : '' %>>Rarely drink</option>
            <option value="Social drinker" <%=userEdit.drinking==='Social drinker' ? 'selected' : '' %>>Social drinker</option>
            <option value="Regular drinker" <%=userEdit.drinking==='Regular drinker' ? 'selected' : '' %>>Regular drinker</option>
            <option value="Recovering alcoholic" <%=userEdit.drinking==='Recovering alcoholic' ? 'selected' : '' %>>Recovering alcoholic</option>
            <option value="Prefer not to say" <%=userEdit.drinking==='Prefer not to say' ? 'selected' : '' %>>Prefer not to say</option>
          </select>
        </div>
      </label>
    </div>
    <div class="mt-2">
      <label class="block mt-4 text-sm">
        <span class="text-gray-700 dark:text-gray-400">Ethnicity</span>
        <!-- focus-within sets the color for the icon when input is focused -->
        <div class="relative text-gray-500 focus-within:text-purple-600 dark:focus-within:text-purple-400">
          <select name="ethnicity" 
            class="block w-full mt-1 text-sm dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 form-select focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray">
            <option value="" disabled selected>Select Ethnicity</option>
            <option value="White/Caucasian"  <%=userEdit.ethnicity==='White/Caucasian' ? 'selected' : '' %>>White/Caucasian</option>
            <option value="Black/African American"  <%=userEdit.ethnicity==='Black/African American' ? 'selected' : '' %>>Black/African American</option>
            <option value="Hispanic/Latino"  <%=userEdit.ethnicity==='Hispanic/Latino' ? 'selected' : '' %>>Hispanic/Latino</option>
            <option value="Asian"  <%=userEdit.ethnicity==='Asian' ? 'selected' : '' %>>Asian</option>
            <option value="Middle Eastern"  <%=userEdit.ethnicity==='Middle Eastern' ? 'selected' : '' %>>Middle Eastern</option>
            <option value="Native American/Indigenous"  <%=userEdit.ethnicity==='Native American/Indigenous' ? 'selected' : '' %>>Native American/Indigenous</option>
            <option value="Pacific Islander"  <%=userEdit.ethnicity==='Pacific Islander' ? 'selected' : '' %>>Pacific Islander</option>
            <option value="Mixed/Multiracial"  <%=userEdit.ethnicity==='Mixed/Multiracial' ? 'selected' : '' %>>Mixed/Multiracial</option>
            <option value="Other (with option to specify)"  <%=userEdit.ethnicity==='Other (with option to specify)' ? 'selected' : '' %>>Other (with option to specify)</option>
            <option value="Prefer not to say"  <%=userEdit.ethnicity==='Prefer not to say' ? 'selected' : '' %>>Prefer not to say</option>
          </select>
        </div>
      </label>
    </div>
    <div class="mt-2">
      <label class="block mt-4 text-sm">
        <span class="text-gray-700 dark:text-gray-400">Horoscope</span>
        <!-- focus-within sets the color for the icon when input is focused -->
        <div class="relative text-gray-500 focus-within:text-purple-600 dark:focus-within:text-purple-400">
          <select name="horoscope" 
            class="block w-full mt-1 text-sm dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 form-select focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray">
            <option value="" disabled selected>Select Horoscope</option>
            <option value="Aries (March 21 - April 19)" <%=userEdit.horoscope==='Aries (March 21 - April 19)' ? 'selected' : '' %>>Aries (March 21 - April 19)</option>
            <option value="Taurus (April 20 - May 20)" <%=userEdit.horoscope==='Taurus (April 20 - May 20)' ? 'selected' : '' %>>Taurus (April 20 - May 20)</option>
            <option value="Gemini (May 21 - June 20)" <%=userEdit.horoscope==='Gemini (May 21 - June 20)' ? 'selected' : '' %>>Gemini (May 21 - June 20)</option>
            <option value="Cancer (June 21 - July 22)" <%=userEdit.horoscope==='Cancer (June 21 - July 22)' ? 'selected' : '' %>>Cancer (June 21 - July 22)</option>
            <option value="Leo (July 23 - August 22)" <%=userEdit.horoscope==='Leo (July 23 - August 22)' ? 'selected' : '' %>>Leo (July 23 - August 22)</option>
            <option value="Virgo (August 23 - September 22)" <%=userEdit.horoscope==='Virgo (August 23 - September 22)' ? 'selected' : '' %>>Virgo (August 23 - September 22)</option>
            <option value="Libra (September 23 - October 22)" <%=userEdit.horoscope==='Libra (September 23 - October 22)' ? 'selected' : '' %>>Libra (September 23 - October 22)</option>
            <option value="Scorpio (October 23 - November 21)" <%=userEdit.horoscope==='Scorpio (October 23 - November 21)' ? 'selected' : '' %>>Scorpio (October 23 - November 21)</option>
            <option value="Sagittarius (November 22 - December 21)" <%=userEdit.horoscope==='Sagittarius (November 22 - December 21)' ? 'selected' : '' %>>Sagittarius (November 22 - December 21)</option>
            <option value="Capricorn (December 22 - January 19)" <%=userEdit.horoscope==='Capricorn (December 22 - January 19)' ? 'selected' : '' %>>Capricorn (December 22 - January 19)</option>
            <option value="Aquarius (January 20 - February 18)" <%=userEdit.horoscope==='Aquarius (January 20 - February 18)' ? 'selected' : '' %>>Aquarius (January 20 - February 18)</option>
            <option value="Pisces (February 19 - March 20)" <%=userEdit.horoscope==='Pisces (February 19 - March 20)' ? 'selected' : '' %>>Pisces (February 19 - March 20)</option>
            <option value="Don't believe in astrology" <%= userEdit.horoscope === "Don't believe in astrology" ? "selected" : "" %>>Don't believe in astrology</option>
          </select>
        </div>
      </label>
    </div>
    <div class="mt-2">
      <label class="block mt-4 text-sm">
        <span class="text-gray-700 dark:text-gray-400">Have kids</span>
        <!-- focus-within sets the color for the icon when input is focused -->
        <div class="relative text-gray-500 focus-within:text-purple-600 dark:focus-within:text-purple-400">
          <select name="have_kids" 
            class="block w-full mt-1 text-sm dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 form-select focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray">
            <option value="" disabled selected>Select Have kids</option>
            <option value="No kids" <%=userEdit.have_kids==='No kids' ? 'selected' : '' %>>No kids</option>
            <option value="Wants kids" <%=userEdit.have_kids==='Wants kids' ? 'selected' : '' %>>Wants kids</option>
            <option value="Have kids and want more" <%=userEdit.have_kids==='Have kids and want more' ? 'selected' : '' %>>Have kids and want more</option>
            <option value="Have kids and don't want more" <%= userEdit.have_kids === "Have kids and don't want more" ? "selected" : "" %>>Have kids and don't want more</option>
            <option value="Don't have kids but want them in the future" <%= userEdit.have_kids === "Don't have kids but want them in the future" ? "selected" : "" %>>Don't have kids but want them in the future</option>
            <option value="Don't have kids and don't want any" <%= userEdit.have_kids === "Don't have kids and don't want any" ? "selected" : "" %>>Don't have kids and don't want any</option>
            <option value="Prefer not to say" <%=userEdit.have_kids==='Prefer not to say' ? 'selected' : '' %>>Prefer not to say</option>
          </select>
        </div>
      </label>
    </div>
    <div class="mt-2">
      <label class="block mt-4 text-sm">
        <span class="text-gray-700 dark:text-gray-400">Relationship</span>
        <!-- focus-within sets the color for the icon when input is focused -->
        <div class="relative text-gray-500 focus-within:text-purple-600 dark:focus-within:text-purple-400">
          <select name="relationship" 
            class="block w-full mt-1 text-sm dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 form-select focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray">
            <option value="" disabled selected>Select Relationship</option>
            <option value="Single" <%=userEdit.relationship==='Single' ? 'selected' : '' %>>Single</option>
            <option value="In a relationship" <%=userEdit.relationship==='In a relationship' ? 'selected' : '' %>>In a relationship</option>
            <option value="Married" <%=userEdit.relationship==='Married' ? 'selected' : '' %>>Married</option>
            <option value="Divorced" <%=userEdit.relationship==='Divorced' ? 'selected' : '' %>>Divorced</option>
            <option value="Separated" <%=userEdit.relationship==='Separated' ? 'selected' : '' %>>Separated</option>
            <option value="Widowed" <%=userEdit.relationship==='Widowed' ? 'selected' : '' %>>Widowed</option>
            <option value="It's complicated" <%= userEdit.relationship === "It's complicated" ? "selected" : "" %>>It's complicated</option>
            <option value="In an open relationship" <%=userEdit.relationship==='In an open relationship' ? 'selected' : '' %>>In an open relationship</option>
            <option value="Polyamorous" <%=userEdit.relationship==='Polyamorous' ? 'selected' : '' %>>Polyamorous</option>
            <option value="Prefer not to say" <%=userEdit.relationship==='Prefer not to say' ? 'selected' : '' %>>Prefer not to say</option>
          </select>
        </div>
      </label>
    </div>
    <div class="mt-2">
      <label class="block mt-4 text-sm">
        <span class="text-gray-700 dark:text-gray-400">Looking For</span>
        <!-- focus-within sets the color for the icon when input is focused -->
        <div class="relative text-gray-500 focus-within:text-purple-600 dark:focus-within:text-purple-400">
          <select name="looking_for" 
            class="block w-full mt-1 text-sm dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 form-select focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray">
            <option value="" disabled selected>Select Looking For</option>
            <option value="A Long-Term Relationship" <%=userEdit.looking_for==='A Long-Term Relationship' ? 'selected' : '' %>>A Long-Term Relationship</option>
            <option value="Fun Casual Dates" <%=userEdit.looking_for==='Fun Casual Dates' ? 'selected' : '' %>>Fun Casual Dates</option>
            <option value="Open to short term" <%=userEdit.looking_for==='Open to short term' ? 'selected' : '' %>>Open to short term</option>
            <option value="Humor" <%=userEdit.looking_for==='Humor' ? 'selected' : '' %>>Humor</option>
            <option value="Kindness" <%=userEdit.looking_for==='Kindness' ? 'selected' : '' %>>Kindness</option>
            <option value="Playfulness" <%=userEdit.looking_for==='Playfulness' ? 'selected' : '' %>>Playfulness</option>
            <option value="Marriage" <%=userEdit.looking_for==='Marriage' ? 'selected' : '' %>>Marriage</option>
            <option value="Intimacy Without Commitment" <%=userEdit.looking_for==='Intimacy Without Commitment' ? 'selected' : '' %>>Intimacy Without Commitment</option>
            <option value="A Life Partner" <%=userEdit.looking_for==='A Life Partner' ? 'selected' : '' %>>A Life Partner</option>
            <option value="Ethical Non-Monogamy" <%=userEdit.looking_for==='Ethical Non-Monogamy' ? 'selected' : '' %>>Ethical Non-Monogamy</option>
          </select>
        </div>
      </label>
    </div>
    
    <div class="mt-2">
      <label class="block mt-4 text-sm">
        <span class="text-gray-700 dark:text-gray-400">My Interests</span>
        <div class="relative text-gray-500 focus-within:text-purple-600 dark:focus-within:text-purple-400">
          <select id="multiIntrestSelect" name="interests[]" multiple  class="w-full mt-1 text-sm">
            <option value=""  hidden>Select Your Interests</option> <!-- Placeholder -->
            <option value="Art" <%= (Array.isArray(userEdit.intrested) &&  userEdit.intrested.includes('Art')) ? 'selected' : '' %>>Art</option>
            <option value="Foodie" <%=  (Array.isArray(userEdit.intrested) && userEdit.intrested.includes('Foodie')) ? 'selected' : '' %>>Foodie</option>
            <option value="Makeup" <%=  (Array.isArray(userEdit.intrested) && userEdit.intrested.includes('Makeup')) ? 'selected' : '' %>>Makeup</option>
            <option value="Traveling" <%= (Array.isArray(userEdit.intrested) &&  userEdit.intrested.includes('Traveling')) ? 'selected' : '' %>>Traveling</option>
            <option value="Music" <%= (Array.isArray(userEdit.intrested) &&  userEdit.intrested.includes('Music')) ? 'selected' : '' %>>Music</option>
            <option value="Reading" <%= (Array.isArray(userEdit.intrested) &&  userEdit.intrested.includes('Reading')) ? 'selected' : '' %>>Reading</option>
            <option value="Fitness" <%=  (Array.isArray(userEdit.intrested) && userEdit.intrested.includes('Fitness')) ? 'selected' : '' %>>Fitness</option>
            <option value="Dancing" <%= (Array.isArray(userEdit.intrested) &&  userEdit.intrested.includes('Dancing')) ? 'selected' : '' %>>Dancing</option>
            <option value="Gaming" <%= (Array.isArray(userEdit.intrested) &&  userEdit.intrested.includes('Gaming')) ? 'selected' : '' %>>Gaming</option>
            <option value="Photography" <%=  (Array.isArray(userEdit.intrested) && userEdit.intrested.includes('Photography')) ? 'selected' : '' %>>Photography</option>
            <option value="Cooking" <%=  (Array.isArray(userEdit.intrested) && userEdit.intrested.includes('Cooking')) ? 'selected' : '' %>>Cooking</option>
            <option value="Hiking" <%=  (Array.isArray(userEdit.intrested) && userEdit.intrested.includes('Hiking')) ? 'selected' : '' %>>Hiking</option>
            <option value="Fashion" <%= (Array.isArray(userEdit.intrested) &&  userEdit.intrested.includes('Fashion')) ? 'selected' : '' %>>Fashion</option>
            <option value="Sports" <%= (Array.isArray(userEdit.intrested) &&  userEdit.intrested.includes('Sports')) ? 'selected' : '' %>>Sports</option>
            <option value="Tech" <%= (Array.isArray(userEdit.intrested) &&  userEdit.intrested.includes('Tech')) ? 'selected' : '' %>>Tech</option>
            <option value="Writing" <%=  (Array.isArray(userEdit.intrested) && userEdit.intrested.includes('Writing')) ? 'selected' : '' %>>Writing</option>
            <option value="Yoga" <%= (Array.isArray(userEdit.intrested) &&  userEdit.intrested.includes('Yoga')) ? 'selected' : '' %>>Yoga</option>
            <option value="Movies" <%= (Array.isArray(userEdit.intrested) &&  userEdit.intrested.includes('Movies')) ? 'selected' : '' %>>Movies</option>
            <option value="Swimming" <%=  (Array.isArray(userEdit.intrested) && userEdit.intrested.includes('Swimming')) ? 'selected' : '' %>>Swimming</option>
            <option value="Socializing" <%=  (Array.isArray(userEdit.intrested) && userEdit.intrested.includes('Socializing')) ? 'selected' : '' %>>Socializing</option>
            <option value="Gardening" <%= (Array.isArray(userEdit.intrested) &&  userEdit.intrested.includes('Gardening')) ? 'selected' : '' %>>Gardening</option>
            <option value="Crafting" <%=  (Array.isArray(userEdit.intrested) && userEdit.intrested.includes('Crafting')) ? 'selected' : '' %>>Crafting</option>
            <option value="Martial Arts" <%=  (Array.isArray(userEdit.intrested) && userEdit.intrested.includes('Martial Arts')) ? 'selected' : '' %>>Martial Arts</option>
            <option value="Volunteering" <%= (Array.isArray(userEdit.intrested) &&  userEdit.intrested.includes('Volunteering')) ? 'selected' : '' %>>Volunteering</option>
            <option value="Blogging" <%= (Array.isArray(userEdit.intrested) &&  userEdit.intrested.includes('Blogging')) ? 'selected' : '' %>>Blogging</option>
            <option value="Collecting" <%= (Array.isArray(userEdit.intrested) &&  userEdit.intrested.includes('Collecting')) ? 'selected' : '' %>>Collecting</option>
            <option value="Board Games" <%= (Array.isArray(userEdit.intrested) &&  userEdit.intrested.includes('Board Games')) ? 'selected' : '' %>>Board Games</option>
            <option value="Astrology" <%=  (Array.isArray(userEdit.intrested) && userEdit.intrested.includes('Astrology')) ? 'selected' : '' %>>Astrology</option>
            <option value="DIY Projects" <%=  (Array.isArray(userEdit.intrested) && userEdit.intrested.includes('DIY Projects')) ? 'selected' : '' %>>DIY Projects</option>
            <option value="Pets" <%= (Array.isArray(userEdit.intrested) &&  userEdit.intrested.includes('Pets')) ? 'selected' : '' %>>Pets</option>
          </select>          
        </div>
      </label>
    </div>
    

  <script>
    $(document).ready(function() {
        $('.manage-user-sidebar').each(function() {
          var spanElement = $('<span class="absolute inset-y-0 left-0 w-1 rounded-tr-lg rounded-br-lg" style="background-color:var(--blue-color);" aria-hidden="true"></span>');
              $(this).before(spanElement);
              $(this).addClass('text-gray-800');
        });
    });
  </script>
  <script>
    $(document).ready(function () {
      var type = 'create';
      $('.submitsByAjax').submit(function (e) {
        e.preventDefault();
        
        var formData = new FormData(this);
  
        ajaxCallFormSubmit($(this), false, 'Loading! Please wait...', formData,
          type === 'create' ? postCreate : undefined);
      });
      function postCreate() {
        switch_between_register_to_registerAnother_btn($('.submitsByAjax'), false);
      }
    });
    
  </script>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    new Choices('#multiLanguageSelect', {
      removeItemButton: true
    });
    new Choices('#multiIntrestSelect', {
      removeItemButton: true
    });
  });
</script>

 <script>
        document.addEventListener("DOMContentLoaded", function () {
            const imageGrid = document.getElementById("imageGrid");

            // Handle image upload
            imageGrid.addEventListener("change", function (event) {
                if (event.target.type === "file") {
                    let file = event.target.files[0];
                    if (file) {
                        let reader = new FileReader();
                        reader.onload = function (e) {
                          let parentDiv = event.target.closest(".image-box");
                          let index = parentDiv.getAttribute("data-index");
                          let addButton = parentDiv.querySelector(".add-btn");
                          if (addButton) {
                              addButton.style.display = "none"; // Hide the button
                          }
                          let newImg = document.createElement("img");
                            newImg.src = e.target.result;
                            parentDiv.appendChild(newImg);
                        };
                        reader.readAsDataURL(file);
                    }
                }
            });

            // Handle remove button click
            imageGrid.addEventListener("click", function (event) {
                if (event.target.classList.contains("remove-btn")) {
                    let parentDiv = event.target.closest(".image-box");
                    let index = parentDiv.getAttribute("data-index");
                    parentDiv.innerHTML = `
                        <label for="file${index}" class="add-btn">+</label>
                        <input type="file" id="file${index}" accept="image/*">
                    `;
                }
            });
        });

        document.addEventListener("DOMContentLoaded", function () {
    // Select the form
    let form = document.querySelector(".submitsByAjax");

    // Disable all form elements
    if (form) {
        let elements = form.querySelectorAll("input, select, textarea, button");
        elements.forEach(el => el.disabled = true);
    }
});

    </script>